@use "./utilities.scss";

.App-main-container {
  padding: 50px 0 20px 84px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: utilities.$fs-default;
  font-weight: 400;
}

.App-bg-line {
  position: absolute;
  z-index: -1;
  &-1 {
    top: 150px;
    right: 5%;
  }
  &-2 {
    right: 12%;
  }
  &-3 {
    right: 2%;
    top: 400px;
  }
  &-4 {
    top: 230px;
  }
}
