@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}
.dark-bg-primary {
  background: #343045;
}

.dark-bg-primary-gradient {
  background: linear-gradient(to right, #8176af, #c0b7e8);
}

.dark-bg-secondary-gradient {
  background: radial-gradient(rgba(52, 48, 69, 0.95), #211e2e);
}

.neutral-bg-primary {
  background: #8176af;
}

.neutral-bg-primary-gradient {
  background: linear-gradient(to right, #c5bbf2, #dddbe2);
}

.neutral-bg-secondary-gradient {
  background: radial-gradient(rgba(171, 164, 198, 0.95), #594b95);
}

.light-bg-primary {
  background: #d5d0e7;
}

.light-bg-primary-gradient {
  background: linear-gradient(to right, #ffffff, #856fe2);
}

.light-bg-secondary-gradient {
  background: radial-gradient(rgba(255, 255, 255, 0.95), #9582e6);
}

.dark-primary-text {
  color: white;
}

.dark-secondary-text {
  color: #000000;
}

.neutral-primary-text {
  color: white;
}

.neutral-secondary-text {
  color: #000000;
}

.light-primary-text {
  color: #4b34b0;
}

.light-secondary-text {
  color: #000000;
}

.fs-16 {
  font-size: clamp(0rem, 0.75rem + 3.5vw, 1rem);
}

.fs-24 {
  font-size: clamp(0.5rem, 0.75rem + 3.5vw, 1.5rem);
}

.fs-46 {
  font-size: clamp(1.875rem, 0.75rem + 3.5vw, 2.875rem);
}

.fw-bold {
  font-weight: 700;
}

.ms-84 {
  margin-right: 84px;
}

.me-84 {
  margin-left: 84px;
}

.me-15 {
  margin-right: 15px;
}

.primary-btn-dark, .primary-btn-neutral {
  width: 154px;
  height: 48px;
  border-radius: 40px;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  border: none;
}
.primary-btn-dark:hover, .primary-btn-dark:active, .primary-btn-neutral:hover, .primary-btn-neutral:active {
  box-shadow: 0 0 10px 0 #8176af inset, 0 0 10px 4px #c0b7e8;
}
.primary-btn-dark:hover, .primary-btn-dark:active, .primary-btn-neutral:hover, .primary-btn-neutral:active {
  color: #ffffff;
  background: transparent;
}
.primary-btn-light:hover, .primary-btn-light:active {
  color: #000000;
  background: transparent;
}

.primary-btn-big {
  width: 214px;
  height: 48px;
  border-radius: 40px;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  border: none;
}
.primary-btn-big:hover, .primary-btn-big:active {
  box-shadow: 0 0 10px 0 #8176af inset, 0 0 10px 4px #c0b7e8;
}
.primary-btn-big:hover, .primary-btn-big:active {
  color: #ffffff;
  background: transparent;
}

.secondary-btn {
  width: 154px;
  height: 48px;
  border-radius: 40px;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  background-color: transparent;
  border: 2px solid #ffffff;
}
.secondary-btn:hover, .secondary-btn:active {
  box-shadow: 0 0 10px 0 #8176af inset, 0 0 10px 4px #c0b7e8;
}

.theme-btn-dark {
  width: 30px;
  height: 15px;
  border-radius: 40px;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  border: 1px solid #ffffff;
}
.theme-btn-dark:hover, .theme-btn-dark:active {
  box-shadow: 0 0 10px 0 #8176af inset, 0 0 10px 4px #c0b7e8;
}
.theme-btn-neutral {
  width: 30px;
  height: 15px;
  border-radius: 40px;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  border: 1px solid #ffffff;
}
.theme-btn-neutral:hover, .theme-btn-neutral:active {
  box-shadow: 0 0 10px 0 #8176af inset, 0 0 10px 4px #c0b7e8;
}
.theme-btn-light {
  width: 30px;
  height: 15px;
  border-radius: 40px;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  border: 1px solid #ffffff;
}
.theme-btn-light:hover, .theme-btn-light:active {
  box-shadow: 0 0 10px 0 #8176af inset, 0 0 10px 4px #c0b7e8;
}

.dark-accent-text {
  background: -webkit-linear-gradient(#8176af, #c0b7e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.neutral-accent-text {
  background: -webkit-linear-gradient(#c5bbf2, #dddbe2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.light-accent-text {
  background: -webkit-linear-gradient(#4b34b0, #8f63ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-btn {
  background-color: transparent;
  border: none;
}
.icon-btn:hover {
  filter: drop-shadow(0 0 5px #c0b7e8);
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.d-none {
  display: none;
}

.gap-40 {
  gap: 40px;
}

.form-field {
  max-width: 524px;
  width: 100%;
  height: 72px;
  background-color: transparent;
  outline: none;
  border: 2px solid #ffffff;
  border-radius: 40px;
  padding-left: 42px;
}
.form-field::-moz-placeholder {
  color: white;
}
.form-field::placeholder {
  color: white;
}
.form-field:focus::-moz-placeholder {
  color: transparent;
}
.form-field:focus::placeholder {
  color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #343045;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
a:hover {
  filter: drop-shadow(0 0 10px #c0b7e8);
}

.App-main-container {
  padding: 50px 0 20px 84px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.App-bg-line {
  position: absolute;
  z-index: -1;
}
.App-bg-line-1 {
  top: 150px;
  right: 5%;
}
.App-bg-line-2 {
  right: 12%;
}
.App-bg-line-3 {
  right: 2%;
  top: 400px;
}
.App-bg-line-4 {
  top: 230px;
}/*# sourceMappingURL=App.css.map */