.Header-container {
  gap: 250px;
}

.Header-logout-btn {
  position: absolute;
  top: 24px;
  right: 2%;
}

.Header-theme-btns {
  position: absolute;
  top: 32px;
  right: 10%;
  ul {
    gap: 15px;
  }
}
