@use "sass:color";

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}

@function setResponsiveFontSize($fontSize) {
  @return clamp($fontSize - 1rem, 0.75rem + 3.5vw, $fontSize);
}

$fontSizes: (
  16: 1rem,
  24: 1.5rem,
  46: 2.875rem,
);

$dark-theme-bg-colors: (
  dark-bg-primary: #343045,
  dark-bg-primary-gradient: linear-gradient(to right, #8176af, #c0b7e8),
  dark-bg-secondary-gradient:
    radial-gradient(color.adjust(#343045, $alpha: -0.05), #211e2e),
);

$dark-theme-text-colors: (
  dark-primary-text: #ffff,
  dark-secondary-text: #000000,
);

@mixin btn($width, $bg-color: $primary-gradient) {
  width: $width;
  height: 48px;
  background: $bg-color;
  border-radius: 40px;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  &:hover,
  &:active {
    box-shadow: 0 0 10px 0 #8176af inset, 0 0 10px 4px #c0b7e8;
  }
}

@each $name, $color in $dark-theme-bg-colors {
  .#{$name} {
    background: $color;
  }
}

@each $name, $color in $dark-theme-text-colors {
  .#{$name} {
    color: $color;
  }
}

@each $name, $fontSize in $fontSizes {
  .fs-#{$name} {
    font-size: setResponsiveFontSize($fontSize);
  }
}

$fs-default: 0.875rem;
$bg-primary: #343045;
$primary-color: #ffff;
$secondary-color: #000000;
$primary-accent-color: #c0b7e8;
$primary-gradient: linear-gradient(to right, #8176af, $primary-accent-color);
$secondary-gradient: radial-gradient(#343045, #211e2e);

.fw-bold {
  font-weight: 700;
}

.ms-84 {
  margin-right: 84px;
}

.me-84 {
  margin-left: 84px;
}

.me-15 {
  margin-right: 15px;
}

.primary-btn {
  @include btn(154px);
  border: none;
  color: $secondary-color;
  &:hover,
  &:active {
    background: transparent;
    color: $primary-color;
  }
}

.primary-btn-big {
  @include btn(214px);
  border: none;
  color: $secondary-color;
  &:hover,
  &:active {
    background: transparent;
    color: $primary-color;
  }
}

.secondary-btn {
  @include btn(154px, transparent);
  border: 2px solid $primary-color;
  color: $primary-color;
}

.icon-btn {
  background-color: transparent;
  border: none;
  filter: drop-shadow(
    0px 0px 0.5rem color.adjust($secondary-color, $alpha: -0.1)
  );
  &:hover {
    filter: drop-shadow(0 0 5px #c0b7e8);
  }
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.d-none {
  display: none;
}

.gap-40 {
  gap: 40px;
}

.primary-text {
  color: $primary-color;
}

.form-field {
  max-width: 524px;
  width: 100%;
  height: 72px;
  background-color: transparent;
  outline: none;
  border: 2px solid $primary-color;
  border-radius: 40px;
  padding-left: 42px;
  color: $primary-color;
  &::placeholder {
    color: $primary-color;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

body {
  background-color: $bg-primary;
  font-family: "Montserrat", sans-serif;
  font-size: $fs-default;
  font-weight: 400;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
  color: $primary-color;
  text-transform: uppercase;
  position: relative;
  &:hover {
    filter: drop-shadow(0 0 10px #c0b7e8);
  }
}
