@use "sass:color";

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}

@function setResponsiveFontSize($fontSize) {
  @return clamp($fontSize - 1rem, 0.75rem + 3.5vw, $fontSize);
}

$fontSizes: (
  16: 1rem,
  24: 1.5rem,
  46: 2.875rem,
);

$theme-bg-colors: (
  "dark": (
    dark-bg-primary: #343045,
    dark-bg-primary-gradient: linear-gradient(to right, #8176af, #c0b7e8),
    dark-bg-secondary-gradient:
      radial-gradient(color.adjust(#343045, $alpha: -0.05), #211e2e),
  ),
  "neutral": (
    neutral-bg-primary: #8176af,
    neutral-bg-primary-gradient: linear-gradient(to right, #8276b6, #bfb4ee),
    neutral-bg-secondary-gradient:
      radial-gradient(color.adjust(#343045, $alpha: -0.05), #211e2e),
  ),
);

$theme-text-colors: (
  "dark": (
    dark-primary-text: #ffff,
    dark-secondary-text: #000000,
  ),
  "neutral": (
    neutral-primary-text: #ffff,
    neutral-secondary-text: #000000,
  ),
);

@mixin btn($width, $height: 48px) {
  width: $width;
  height: $height;
  border-radius: 40px;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  &:hover,
  &:active {
    box-shadow: 0 0 10px 0 #8176af inset, 0 0 10px 4px #c0b7e8;
  }
}

@each $theme, $colors in $theme-bg-colors {
  @each $color, $values in $colors {
    .#{$color} {
      background: $values;
    }
  }
}

@each $theme, $colors in $theme-text-colors {
  @each $color, $values in $colors {
    .#{$color} {
      color: $values;
    }
  }
}

@each $name, $fontSize in $fontSizes {
  .fs-#{$name} {
    font-size: setResponsiveFontSize($fontSize);
  }
}

$fs-default: 0.875rem;
$primary-border-color: #ffffff;
$primary-accent-color: #c0b7e8;
$neutral-color: #8176af;
$bg-light: #bbb7d0;
$primary-gradient: linear-gradient(
  to right,
  $neutral-color,
  $primary-accent-color
);
$secondary-gradient: radial-gradient(#343045, #211e2e);

.fw-bold {
  font-weight: 700;
}

.ms-84 {
  margin-right: 84px;
}

.me-84 {
  margin-left: 84px;
}

.me-15 {
  margin-right: 15px;
}

.primary-btn {
  @include btn(154px);
  border: none;
  &:hover,
  &:active {
    background: transparent;
  }
}

.primary-btn-big {
  @include btn(214px);
  border: none;
  &:hover,
  &:active {
    background: transparent;
  }
}

.secondary-btn {
  @include btn(154px);
  background-color: transparent;
  border: 2px solid $primary-border-color;
}

.theme-btn {
  &-dark {
    @include btn(30px, 15px);
    border: 1px solid $primary-border-color;
  }
  &-neutral {
    @include btn(30px, 15px);
    border: 1px solid $primary-border-color;
  }
  &-light {
    @include btn(30px, 15px);
    border: 1px solid $primary-border-color;
  }
}

.icon-btn {
  background-color: transparent;
  border: none;
  &:hover {
    filter: drop-shadow(0 0 5px #c0b7e8);
  }
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.d-none {
  display: none;
}

.gap-40 {
  gap: 40px;
}

.form-field {
  max-width: 524px;
  width: 100%;
  height: 72px;
  background-color: transparent;
  outline: none;
  border: 2px solid $primary-border-color;
  border-radius: 40px;
  padding-left: 42px;
  &::placeholder {
    color: #ffff;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: $fs-default;
  font-weight: 400;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  &:hover {
    filter: drop-shadow(0 0 10px #c0b7e8);
  }
}
